###############################################################################
# Please note that this is required only for scraping the data from groups using
# python-fedora API. You do not have to fill it up if you are not going to
# pull data of users of a particular FAS group.
###############################################################################

[fas]
username = 'skamath'
password = '<redacted>'
